.flex-container-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    padding: 30px;
}

.image-box {
    align-self: center;
    margin-bottom: 20px;
}

article {
    padding: 0px 50px;
}

.main-content h1,
.main-content h2 {
    align-self: flex-end;
}



@media screen and (min-width:768px) {
    .flex-container-inner {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .image-box {
        align-self: flex-start;
    }
    article {
        width: calc(100% - 252px);
        max-width: 1000px;
    }
    .skill-container {
        max-width: 768px;
    }
}