.main-content {
    text-align: center;
}

.main-content h1 {
    margin-bottom: 30px;
}

.main-content img {
    width: 100%;
    height: auto;
}

.image-container {
    position: relative;
    width: 90%;
    max-width: 700px;
    margin: auto;
}

#artist-red, 
#artist-orange, 
#artist-green {
    z-index: 1;
    position: absolute;
    height: 100%;
    top: 0px;
}

#artist-red {
    width: 32.5%;
    left: 0px;
}
#artist-red:hover {
    background-color: red;
    opacity: 15%;
}

#artist-orange {
    width: 31%;
    left: 32.5%;
}
#artist-orange:hover {
    background-color: orange;
    opacity: 30%;
}

#artist-green {
    width: 36.5%;
    right: 0px;
}
#artist-green:hover {
    background-color: green;
    opacity: 20%;
}