.main-content h1 {
    font-family: "Comic Sans", "Comic Sans MS";
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

#contact-form {
    text-align: center;
    padding: 25px;
}

#contact-form .form-text,
#contact-form #form-message,
#contact-form #form-submit {
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

#contact-form .form-text {
    height: 40px;
}

#contact-form .form-text::placeholder,
#contact-form #form-message::placeholder {
    color: purple;
}

#contact-form .form-text:valid,
#contact-form #form-message:valid {
    background-color: rgb(187, 255, 187);
}
#contact-form .form-text:invalid,
#contact-form #form-message:invalid {
    background-color: rgb(255, 158, 158);
}

#contact-form #form-checkbox {
    /* Färger verkar inte fungera. */
    background-color: green;
    color: springgreen;
    border: 3px solid red;

    border-radius: 25px;
    padding: 20px;
    margin: 20px 5px;
}

#contact-form #form-submit {
    background-color: skyblue;
    padding-left: 50px;
    padding-right: 50px;
}
#contact-form #form-submit:hover {
    background-color: rgb(42, 167, 42);
}
#contact-form #form-submit:active {
    background-color: rgb(0, 102, 0);
}