:root {
    --navbar-width: 110px;
    --nav-height: 60px;
}

nav {
    height: var(--nav-height);
}

nav label {
    display: block;
    cursor: pointer;
    width: 20px;
    float: right;
    font-size: 40px;
    margin-right: 20px;
}

nav .menu {
    text-align: right;
    background: black;
    width: 100%;
    position: absolute;
    right: 3px;
    top: 155px;
    padding: 10px;
    transform:scale(1,0);
    transform-origin: top;
    transition: transform  ease-in-out;
    z-index: 5;
}

nav span {
    color: yellow;
}

nav .menu a {
    clear: right;
    color: white;
    border-bottom: 1px solid #646262;
    display: block;
    margin: 0;
    font-size: 32px;
    text-decoration: none;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    
}
nav .menu a:hover {
    color: coral;

}
nav .menu span:hover {
    color: coral;
}

#toggle{
    display: none;
}
#toggle:checked + .menu {
    display: block; 
    transform: scale(1,1);
}

#toggle:checked + .menu a {
    opacity: 1;
    transition: opacity 200ms ease-in-out 200ms;
}



@media screen and (min-width:768px) {  
    #toggle, nav label {
        display: none;
    }

    nav {
        text-align: right;
        background: black;
        opacity: 1;
        height: unset;
    }
    
    nav .menu {
        all: unset;
        margin: 0;
        display: block;
        position: static;
        width: var(--navbar-width);
        top: 0px;
        background: black;
        opacity: 1;
    }
    
    nav .menu a {    
        background: black;
        color: white;
        margin: 0 10px;
        line-height: 60px;
        opacity: 1;
        font-size: 24px;
        text-align: center;
    }
    
    nav label {
        margin: 0 40px 0 0;    
        line-height: 70px;
    }
}
