*{
    box-sizing: border-box;
}
/* .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
cursor: pointer;
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
background-color: red;
}

.dropdown-content {
display: none;
position: absolute;
background-color: rgb(145, 108, 108);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
  
.dropdown-content a:hover {
background-color: #ddd;
}

.show {
display: block;
}
 */


/* 
<nav class="navbar">
    <a href="/index.html">Home</a>
    <a href="/portfolio.html">Portfolio</a>
    <div class="dropdown">
        <button class="dropbtn" onclick="dropDownMenu()">Artists</button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/artists/johan.html">Johan</a>
            <a href="/artists/oscar.html">Oscar</a>
            <a href="/artists/dennis.html">Dennis</a>
        </div>
    </div>
    <a href="/contact.html">Contact</a>
</nav>
*/

#nav li{
    list-style: none inside;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav li{
    display:  block;
    background-color: black;

}


#nav li a{
    width: 120px;
    
    color:  white;
    border: none;
    font-size: 16px;
    margin: 4px 2px;
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    border-radius: 12px;
    
}



#nav li:hover ul ul {
    display: none;
}
#nav li:hover ul {
    display: block;
    
}
#nav li li:hover ul {
    display: block;
    position: absolute;
    margin-left: 124px;
    margin-top: -50px;
}
#nav ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
    
        }
