#nav li{
    list-style: none inside;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav li{
    display:  block;
    background-color: black;

}


#nav li a{
    width: 120px;
    
    color:  white;
    border: none;
    font-size: 16px;
    margin: 4px 2px;
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    border-radius: 12px;
    
}



#nav li:hover ul ul {
    display: none;
}
#nav li:hover ul {
    display: block;
    
}
#nav li li:hover ul {
    display: block;
    position: absolute;
    margin-left: 124px;
    margin-top: -50px;
}
#nav ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
    
        }
