.flex-container-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* width: auto; */
}

.image-box {
    width: 100%;
    max-width: 100%;
    margin-right: 10px;
    margin-bottom: 5px;
}

article {
    padding: 15px;
    border-bottom: 1px solid black;
}
.image-box p{
    /* font-family: "Comic Sans", "Comic Sans MS"; */
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 24px;
    /* font-style: oblique; */
}


@media screen and (min-width:768px) {
    .flex-container-inner {
        flex-direction: row;
        flex-wrap: wrap;
    }
    article {
        border-bottom: none;
        width: calc(33.33% - 10px);
        margin: 5px;
        border-right: 1px solid black;
    }
    .image-box {
        max-width: 300px;
    }
}