.flex-container-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* width: auto; */
}

@media screen and (min-width:768px) {
    .flex-container-inner {
        flex-direction: row;
        flex-wrap: wrap;
    }
    article {
        width: 33.333333333%;
    }
}