:root{
    --skill-label-size: 105px; /* Anpassa denna efter den längsta texten. */
    --skill-bar-thickness: 20px;
    --skill-bar-color: crimson;
}

.skill-container {
    width: 80%;
    border: 1px solid black;
    margin-bottom: 30px;
}

.skill-container .bar {
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

#bar1 {
    --target-width: 100%;
}
#bar2 {
    --target-width: 10%;
}
#bar3 {
    --target-width: 80%;
}
#bar4 {
    --target-width: 30%;
}
#bar5 {
    --target-width: 20%;
}