.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    width: 90%;
  }

  .slideshow-container .slides {
    display: none;
  }

  .slideshow-container .text {
    color: rgb(189, 189, 189);
    font-size: 20px;
    padding: 10px 14px;
    position: relative;
    bottom: 6px;
    width: 100%;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .slideshow-container .button{
    background-color: #FFFFFF;
    border: 2px solid rgb(209,213,219);
    border-radius:  0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    height: 30px;
    width: 60px;
    left: 50%;
    transform: translate(-50%, -30%);
    position: relative;
  }

  .slideshow-container .button:hover {
    background-color: rgb(241, 241, 241);
  }

  .slideshow-container .fade-animation {
    -webkit-animation-name: fade-animation;
    -webkit-animation-duration: 2;
    animation-name: fade-animation;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fade-animation {
    from {opacity: .2}
    to {opacity: 1}
  }
  
  @keyframes fade-animation {
    from {opacity: .2}
    to {opacity: 1}
  }

  @media screen and (min-width:768px) {
    .slideshow-container {
      width: 80%;
    }
  }