* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
--navbar-width: 150px;
}

/* Debug */
header, nav, article, footer {
    border: 2px solid red;
}
.image-box, .navbar {
    border: 2px solid blue;
}
.flex-container-outer {
    border: 2px solid goldenrod;
}
.flex-container-inner {
    border: 2px solid green;
}

.fake-image {
    width: 300px;
    height: 100px;
    background-color: slateblue;
    text-align: center;
    padding: 40px;
    margin: auto;
}
.fake-thumbnail {
    width: 200px;
    height: 200px;
    background-color: forestgreen;
    text-align: center;
    padding: 40px;
}

header {
    background-image: url("/images/BackgroundMenu.webp");
}

body{
    background-image: url("/images/mainBackground.jpg");
}

.flex-container-outer {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

article {
    height: auto;
    width: auto;
}

.image-box {
    float: left;
    text-align: center;
    max-width: 300px;
    border-color: blue;
}

@media screen and (min-width:992px) {
    .flex-container-outer {
        flex-direction: row;
    }
    .navbar{
        height: auto;
        background-color: rgb(107, 57, 57);
        width: 150px;
    }
    .main-content {
        width: calc(100% - 150px);
    }
}